* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* #fmain {
    height: 100vh;
    width: 100%;
    font-size: 10rem;
    text-align: center;
    background-color: #444444;
    margin: 0 auto;
} */

.footer {
    padding: 8rem;
    font-size: 1.8rem;
    height: 70vh;
    background-image: linear-gradient(to bottom right, #24E2F5, #fff, #134D7E);
}

.footer-logo {
    font-size: 4rem;
    text-align: center;
}

.nav-links {
    color: #333;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-column-gap: 10rem;
    align-items: center;
    border-bottom: 2px solid #444444;
    padding-bottom: 3rem;
}

/* .nav-list::before {
    content: "";
    height: 1rem;
    width: 90vw;
    background-color: #444444;
    position: absolute;
    top: 5rem;
    overflow: hidden;
} */

.nav--items, .nav--items:link, .nav--items:visited {
    /* background-color: #ccc; */
    text-transform: uppercase;
    text-align: center;
}

.right1 {
    grid-column: 4 / 5;
}

.right2 {
    grid-column: 5 / 6;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list {
    position: relative;
    display: flex;
}

.social--icons {
    position: relative;
    list-style: none;
    margin: 10rem 6rem;
    cursor: pointer;
}

.social--icons::before {
    font-family: fontAwesome;
    position: absolute;
    top: -14px;
    left: 0;
    font-size: 4rem;
    height: 0;
    overflow: hidden;
    transition: 0.75s ease-in-out;
}

.social--icons:hover:before {
    height: 100%;
}

.social--icons a {
    list-style: none;
}

.social--icons a .fa {
    font-size: 4rem;
    color: #111;
    padding-bottom: 20px;
}

.social--icons:nth-child(1)::before {
    content: '\f09b';
    color: #333;
    border-bottom: 4px solid #333;
}

.social--icons:nth-child(2)::before {
    content: '\f16d';
    color: #c13584;
    border-bottom: 4px solid #c13584;
}

.social--icons:nth-child(3)::before {
    content: '\f0e1';
    color: #0077b5;
    border-bottom: 4px solid #0077b5;
}

.social--icons:nth-child(4)::before {
    content: '\f232';
    color: #25d366;
    border-bottom: 4px solid #25d366;
}

.copyright {}

.copywrite-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7rem;
}

.box {
    height: 5rem;
    width: 5rem;
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transform: translateX(90vw);
    cursor: pointer;
}