/* Brands Slider */


.brand-container {
    max-width: 1040px;
    margin: 0 auto;
}

.brand-container h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: relative;
    color: #333;
    margin-bottom: 60px;
}

.brand-slider .item {
    background-color: rgb(238, 229, 229);
    box-shadow: 0 4px 5px #cacaca;
    border-radius: 8px;
    padding: 15px;
    /* border: 3px solid #111; */
}

.brand-slider .slick-slide {
    margin: 15px;
}

.slick-dots li.slick-active button::before {
    color: #ff5;
}

.slick-dots li button::before {
    font-size: 12px;
}

.slick-next::before,
.slick-prev::before {
    color: #ff8159;
    font-size: 24px;
}

.item:hover {
    display: block;
    transform: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}

.brand-container h1::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #ff8159;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.item img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media(max-width:700px) {
    .item img {
        width: 60%;
    }

}